---
---
<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <style>
      {% include embed.css %}
    </style>
  </head>
  <body>

    <div class="card hidden">
      <div class="card-header">
        <p class="card-suptitle">On <a title="View on GitHub">GitHub</a></p>
        <h1 class="card-title"><a title="View more">Loading...</a></h1>
      </div>
      <div class="card-body">
        <dl class="card-details">
          <dt>Forked</dt>
          <dd class="fork"><a title="View fork details"><!-- Fork count via javascript --></a></dd>
          <dt>Starred</dt>
          <dd class="star"><a title="View fork details"><!-- Stargazers count via javascript --></a></dd>
        </dl>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
      {% include embed.js %}
    </script>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
